.item-1 {
    display: inline;
    padding: 12px;
    margin-left: 50px;
    
  }
  .item-2 {
    display: inline;
    padding: 12px;
  }
  .item-3 {
    display: inline;
    padding: 12px;
  }
  .item-4 {
    display: inline;
    padding: 12px;
  }
  .item-5 {
    display: inline;
    padding: 12px;
    margin-right: 20px;
  
  }
  
  .menu {
     color: gray;
     display: inline;
     padding: 120px;


  }