* {
  margin: 10%;
}

.btn1 {
  background-color: red;
  border-radius: 15px;
  size: 150px;
  width: 100px;
  height: 100px;
}
.blue {
  background-color: blue;
}

.btn2 {
  background-color: blueviolet;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
