body{margin:0;}
.page{
  height: 100vh;
  display: grid;
  grid-template-columns:repeat (12,1fr);
  grid-template-rows: 20% 50% 20%;
}

.item{
  color: white;
  display: flex;
  justify-content: center ;
  align-items: center;
}

.header {
  grid-column: span 12 ;
  background-color: pink;

}

.menu {
  grid-column: span 4;
  background-color: blueviolet;
}
.content {
  grid-column: span 8;
  background-color: salmon;
}
.footer {
  grid-column: span 12;
  background-color: darkcyan;
  
}


